/.idea/
/api-gateway/node_modules/
/api-gateway/dist/

/investment-service/node_modules/
/notification-service/node_modules/
/payment-service/node_modules/
/payment-service/.env
/payment-service/dist/

/property-service/node_modules/
/user-service/node_modules/
/user-service/dist/
/api-gateway/.env
*/dist
*/env